---
layout: default
---

<div id="content-wrap">
<div id="content" class="container_16 clearfix"><!-- BEGIN LEFT CONTENT -->
<div id="contentRight" class="grid_5"> 
  {% include side-nav.html %}
  {% include right-content.html %}
</div>
<div id="contentLeft" class="grid_10">
<div class="path"><a href="/">Home 
</a><img src="image/arrowPath.png" alt="" height="8" width="6"> <a href="abouts-1-82.html">About Us</a> <img src="image/arrowPath.png" alt="" height="8" width="6"> <strong>{{ site.name_abbr }} Quality</strong></div>
<h1>{{ site.name_abbr }} Quality</h1>
<p>
<img src="/lxlweb/UploadFile/201472593327905.jpg" align="left" border="0" hspace="10">
<img src="/lxlweb/UploadFile/img4.jpg" style="width: 188px" border="0" hspace="10">
</p>
<p>
{{ site.name_abbr }} staff firmly believes that good quality is fundamental for a corporation's survival. We have consummate quality controlling system, ISO and environment management, experienced and trained employees, advanced machinary, insepcting facilities, regular suppliers, to make sure you can trace the whole process of every single part's, from designing to delivery. We have qualified engineers to carry out the mould design, and experts to inspect the feasibility, meanwhile, we are following the American and European design standard, to ensure the design approval. All positions require qualification certificate. All moulds are completed through advance machining equipment in machining center, EDM, W-EDM, etc. At the same time, every process needs to be check over, to ensure an efficient machining.</p>
<p><img style="WIDTH: 614px; HEIGHT: 186px" src="/lxlweb/UploadFile/201472593418546.jpg" border="0" height="219" width="759"></p>
  

</div>	<!-- end #contentLeft .grid_10 --><!-- END LEFT CONTENT --><!-- BEGIN RIGHT CONTENT -->

<!-- end #contentRight --><!-- END RIGHT CONTENT -->
<div id="pagination" class="grid_16"> </div>	<!-- end #pagination --></div>	<!-- end #content -->
<div style="clear:both"></div>
</div>
