---
layout: default
---

<div id="content-wrap">
<div id="content" class="container_16 clearfix"><!-- BEGIN LEFT CONTENT -->
<div id="contentRight" class="grid_5"> 
  {% include side-nav.html %}
  {% include right-content.html %}
</div>
<div id="contentLeft" class="grid_10">
<div class="path"><a href="/">Home 
</a><img src="image/arrowPath.png" alt="" height="8" width="6"> <a href="abouts-1-82.html">About Us</a> <img src="image/arrowPath.png" alt="" height="8" width="6"> <strong>About us</strong></div>
<p>{{ site.name }} an ISO9001:2000 certified, privately owned mold manufacturer with a state-of-the-art production factory in China. {{ site.name_abbr }} was founded in 2004 and is located in DongGuan, China. With over 10 years of experience we have become a reliable strategic partner of fortune 100 companies worldwide.<br></p>
<p>{{ site.name }} is comprised of three domestic companies including PW, CT and TJ.</p>
<p>{{ site.name }} is stable with growth in proven industries, manufacturing, processing, and R&amp;D for the markets of Automotive, IT, household electrical appliances, OA Equipment, CCTV, medical, Industrial components &amp; Hand tools.</p>
<p>In an increasingly competitive market, {{ site.name }} Ltd always adhere to the development strategy from the "Made in China" to "Innovated in China" , focus on new high-tech technology and new product development, design, manufacture and export.&nbsp;Offering the product with highest international standard, strong engineer and design capability. We are fluent in English communication, have aggressive lead times, competitive pricing and business&nbsp;<span style="LINE-HEIGHT: 19px">integrity</span><span style="LINE-HEIGHT: 19px">&nbsp;which continues to be the successful factor of {{ site.name_abbr }}.</span></p>

<p><img style="width: 600px;" src="/lxlweb/UploadFile/20149434332868.jpg" border="0"></p>
<p><img style="width: 600px;" src="/lxlweb/UploadFile/img2.jpg" border="0"></p>
<p><img style="width: 600px;" src="/lxlweb/UploadFile/img3.jpg" border="0"></p>
</div>	<!-- end #contentLeft .grid_10 --><!-- END LEFT CONTENT --><!-- BEGIN RIGHT CONTENT -->

<!-- end #contentRight --><!-- END RIGHT CONTENT -->
<div id="pagination" class="grid_16"> </div>	<!-- end #pagination --></div>	<!-- end #content -->
<div style="clear:both"></div>
</div>
