<div class="clearfix"> </div>
<div id="footer-wrap">
<div id="footer" class="container_16 clearfix"></div> 
<!-- end #footer --></div>
<div id="footer-bottom" class="container_16 clearfix">
<ul>
  <li><a href="abouts-1-82.html">About</a></li>
  <li><a href="abouts-2-8.html">Engineering</a></li>
  <li><a href="abouts-3-10.html">Manufacturing</a></li>
   <li><a href="facs-1.html">Facilities</a></li>
  <li><a href="products.html">Products</a></li>
  <li><a href="abouts-7-77.html">Support</a></li>

  <li><a href="contact.html">Contact</a></li>

</ul>
</div>
<div class="clearspace"> </div>
<div id="footer_tag-wrap" class="container_16 clearfix">
  <div id="links"></div>
<div id="footer_tag">
<ul>
  <li>Copyright&copy; 2016 {{ site.name_full }} ({{ site.name_abbr }})</li>
</ul>
</div><!--End #footer_tag-wrap--></div>
