<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="css/web_css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>

<script type="text/javascript" src="js/jqueryslidemenu.js"></script>

<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>

<!-- Nivo Content Slider  -->
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>

<script type="text/javascript">
				$(window).load(function() {
					$('#slider').nivoSlider({
						effect:'sliceDownRight',
						slices:15,
						animSpeed:800,
						pauseTime:6000,
						directionNav:true, //Next and Prev
						directionNavHide:true, //Only show on hover
						controlNav:false
					});					
				});
		</script>
<!-- End Nivo Content Slider  -->

<title>{{ site.name_full }} ({{ site.name_abbr }}), {{ site.name }}, Mold maker, mold for auto parts, mold partner for industrial design, injection mold, die casting mold, 3D design, CAD, SOLIDWORK, medical parts, security parts</title>
<meta name="Keywords" content="{{ site.name_full }} ({{ site.name_abbr }})">
<meta name="Description" content="{{ site.name_full }} ({{ site.name_abbr }})">

</head>
