<div id="headertop-wrap" class="container_16 clearfix">
<div id="header_top">
<!--LINKS-->
<!--LINKS--><!--SOC LINKS--><!--SOC LINKS-->
<div id="header_box"><!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style "><div class="atclear"></div></div>
<script type="text/javascript" src="js/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe src="//ct1.addthis.com/static/r07/sh165.html#" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px none; left: 0px; top: 0px;" title="AddThis utility frame" id="_atssh86"></iframe></div><script src="http://ct1.addthis.com/static/r07/core143.js" type="text/javascript"></script>
<!-- AddThis Button END --></div><!--header_box end--></div><!--End #header_top-->
<div class="logo">
<h1>
  <a id="logo" style="background:url(image/logo.jpg);background-repeat:no-repeat; background-size: 90px;" title="{{ site.name_full }} ({{ site.name_abbr }})" href="/">{{ site.name_full }} ({{ site.name_abbr }})</a>
  <span>Advanced Precision Tooling</span>
</h1>
</div>
</div>
<div id="header-wrap">
<div id="header" class="container_16 clearfix"><!-- NAV -->
<ul id="nav">
  <li><a href="abouts-1-82.html">About</a>
  <ul><!--sublist starts here-->
  
    <li><a href="abouts-1-82.html">About us</a></li>
    
    <li><a href="abouts-1-71.html">{{ site.name_abbr }} Culture</a></li>
    
    <li><a href="abouts-1-18.html">{{ site.name_abbr }} Quality</a></li>
    
    <li><a href="abouts-1-72.html">Main Service</a></li>
    
    <li><a href="abouts-1-87.html">Development Partners</a></li>
    </ul><!--sublist ends--></li>
  <li><a href="abouts-2-8.html">Engineering</a>
  <ul><!--sublist starts here-->
   
    <li><a href="abouts-2-8.html#m0">Project management</a></li>
    
    <li><a href="abouts-2-8.html#m1">Design For Manufacturability</a></li>
    
    <li><a href="abouts-2-8.html#m2">MoldFlow</a></li>
    
    <li><a href="abouts-2-8.html#m3">Mold Design</a></li>
    
    <li><a href="abouts-2-8.html#m4">Part Design</a></li>
    </ul><!--sublist ends--></li>
  <li><a href="abouts-3-10.html">Manufacturing</a>
  <ul><!--sublist starts here-->
   
    <li><a href="abouts-3-10.html">Mold Manufacturing</a></li>
    
    <li><a href="abouts-3-11.html">Injection</a></li>
    </ul><!--sublist ends--></li>
				     <li><a href="facs-1.html">Facilities</a>
  <ul><!--sublist starts here-->
  <li><a href="fac.html">Equipment List</a></li>
   
    <li><a href="facy-1.html">CNC Dept</a></li>
    
    <li><a href="facy-2.html">EDM Dept</a></li>
    
    <li><a href="facy-3.html">Mould Assembly Dept</a></li>
    
    <li><a href="facy-4.html">Injection Moulding Dept</a></li>
    
    <li><a href="facy-5.html">Die Casting Dept</a></li>
    
    <li><a href="facy-6.html">Quality Dept</a></li>
    </ul><!--sublist ends--></li>
  <li><a href="products.html">Products</a>
  <ul><!--sublist starts here-->
   
    <li><a title="Injection Mold" href="Product-70-1.html#PlasticInjectionMold">Injection Mold</a></li>
   
    <li><a title="Die casting Mold" href="Product-70-1.html#DieCastingMold">Die casting Mold</a></li>
   
    <li><a title="Injection Parts" href="Product-70-1.html#InjectionParts">Injection Parts</a></li>
   
    <li><a title="Die casting parts" href="Product-70-1.html#DieCastingParts">Die casting parts</a></li>
    <li><a title="Prototype" href="Product-70-1.html#Prototype">Prototype</a></li>
   </ul><!--sublist ends--></li>
  <li><a href="abouts-7-77.html">Support</a>
  <ul><!--sublist starts here-->
   
    <li><a href="abouts-7-77.html">Support</a></li>
    </ul><!--sublist ends--></li>
  
  <li><a href="contact.html">Contact</a>
  <!--sublist ends--></li></ul><!-- NAV END -->
<div class="clearfixer"> </div></div>	<!-- end #header --></div>
<a id="top" name="top"></a>
<div id="contentTop"></div>
