<div class="rightContent">
  <h3>Contact Us</h3>
 <p>
 <strong>Get in Touch!<br/></strong>
 To contact APT, please use the contact information listed below.<br/>
 <br/>
 <strong>Factory address: </strong>
 <br/>
Factory 1) No.9 West ShengDa Street, Xiagang Community, Changan Town,
DongGuan City, GuangDong Province, CHINA. ZIP: 523850<br/>
<br/>

Factory 2) Shifeng Industrial Zone, North Central Avenue, GuangMing Town,
Baoan District, Shenzhen City, GuangDong Province, CHINA. ZIP: 518106

<br/>
<br/>
 <strong>Tel: </strong>+86-0769 85788034<br>
 <strong>Fax: </strong>+86-0769 85788039<br/>
 <a href="mailto:sales@{{ site.domain }} ">sales@{{ site.domain }}&nbsp;</a><br><strong>Engineer: </strong>
 <a href="mailto:project@{{ site.domain }} ">project@{{ site.domain }}&nbsp;<br></a><strong>Customer service: </strong>
 <a href="mailto:info@{{ site.domain }} ">info@{{ site.domain }}&nbsp;</a><br><strong>URL:&nbsp;</strong>
 <a href="http://www.{{ site.domain }}/">www.{{ site.domain }}</a> <br><br></p>
</div>
